{#
    VARIABLES REQUERIDAS PARA ESTA PLANTILLA (declarar antes de invocarla):
        title: Título en base de datos de la película.
        portrait: Link de la carátula de la película.
        year: Año de lanzamiento de la edición de la película
        director
        edition: Nombre de la edición de la película.
        formats: Array de entidades formato en los que se presenta la película.
#}

{% set formats = ['','',''] %}

<article class="result-article row">
    <figure class="col-xl-1 col-lg-2 col-md-2 col-sm-3">
    <img src="{{portrait}}" class="caratula">
    </figure>
    <div class="col-xl-11 col-lg-10 col-md-10 col-sm-9" id="details-results-div">
        <h2><strong>{{title}}</strong><small>({{year}})</small></h2>
        <p><strong>Director: </strong>{{director}}</p>
        <p><strong>Edition: </strong>{{edition}}</p>
        <div id="article-buttons">
            <a href="/moreInfo/{{imdb}}" class="btn btn-info">More info</a>
            <div class="dropdown">
                <button class="btn btn-success">Buy</button>
                <div class="dropdown-content">
                    {% for f in formats %}
                        {% set buy_format_link="Enlace/de/formato/del/objeto" %}
                        {% set format_name="DVD" %}
                        {% set format_price=15.00%}
                            <a href="{{buy_format_link}}">{{format_name}} {{format_price}}€</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</article>
